# cp secret.py.example secret.py
# edit the copied file with the correct info
# this way you don't accidentally commit secret info

CONSUMER_KEY = 'KEY'
CONSUMER_SECRET = 'KEY'
ACCESS_KEY = 'KEY'
ACCESS_SECRET = 'KEY'
SOURCE_USER = 'Guard13007'   # obviously change this to *you* username...
PAGE_COUNT = 20              # how many pages to use at once
